<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <form action="http://localhost:7777/categories" method="post">
        <h2>Add Category</h2>
        <input type="text" name="categoryName" id="categoryName" placeholder="Category Name..." required>
        <input type="submit" value="Add Category" id="addCategoryBtn">
    </form>
    <h2>Categories List</h2>
    <table style="border: 1px solid black;">
        <tr>
            <%for( let i = 1;i < Object.keys(data.result[0]).length; i++){%>
                <th><%= Object.keys(data.result[0])[i] %></th>
            <%}%>
        </tr>
        <% for(let i = 0; i < data.result.length; i++){%>
            <tr>
                <form action="http://localhost:7777/categories/<%= Object.values(data.result[i])[0] %>" method="post"></form>
                <%for(let k = 1; k < Object.values(data.result[i]).length; k++){%>
                    <td><input type="text" value="<%=Object.values(data.result[i])[k]%>" ></td>
                <%}%>
                <td>
                    <input type="submit" value="UPDATE">
                </form>
                </td>
                <td>
                <form action="http://localhost:7777/categories/delete/<%= Object.values(data.result[i])[0] %>" >
                    <button>DELETE</button>
                </form>
                </td>
            </tr>
        <%}%>
        <tr>
            <td>
                <form action="http://localhost:7777/categories/page">
                    <% if(data.page > 0) { %>
                        <button name="page" value="<%= Number(data.page)-1 %>">BACK</button>
                    <% } %>
                        PAGE <%= Number(data.page)+1 %> IN <%= data.totalPages %>
                    <% if(data.page < data.totalPages - 1) { %>
                        <button name="page" value="<%= Number(data.page)+1 %>">NEXT</button>
                    <% } %>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>